
body {
  font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  margin: 0;
  color: aliceblue;
}

a {
  text-decoration: none;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: rgb(22, 22, 202);
  height: 3.25rem;
  top: 0;
  left: 0;
}

.navbar-tab {
  overflow: hidden;
  background-color: rgb(22, 22, 202);
}

.navbar-tab button {
  color: aliceblue;
  font-size: 1rem;
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 1rem 16px;
  height: 3.25rem;
  transition: 0.3s;
  min-width: 3.25rem;
}

.navbar-tab button:hover {
  color: black;
  background-color: #ddd;
}

.navbar-tab button:active {
  background-color: #ccc;
}

.navbar-brand button {
  font-size: 1.25rem;
  width: 16rem;
}

.navbar-tab .right button {
  position: absolute;
  right: 0px;
}

.tabcontent {
  display: none;
  border-top: none;
  color: black;
}

aside {
  height: 100%;
  width: 16rem;
  background-color: rgb(31, 31, 32);
  color: white;
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 3.25rem;
  left: 0;
  overflow-x: hidden;
  box-sizing: border-box; /*needed that the padding is included in width*/
}

.mainSection {
  margin-left: 16rem;
}

#dataSearch {
  width: 14.5rem;
  margin: 0.5rem;
  margin-bottom: 1rem;
}

#dataSearchList {
  color: white;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.mainBlock-aside button {
  color: white;
  background-color: inherit;
  text-align: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0 1rem;
  height: 2.5rem;
  width: 16rem;
}

#dataSearchList button:hover {
  background-color: rgb(21, 21, 22);
}

#test2 {
  font-size: 100px;
}

#test3 {
  font-size: 100px;
}